.modal-container {
  display: flex;
  flex-direction: column;

  .modal-header {
    border-bottom: 1px solid #000;

    .btn-set-order-preview {
      display: flex;
      margin: 20px 0;
      justify-content: space-around;

      .download-btn {
        height: 35px;
        width: 200px
      }

      .print-btn {
        height: 35px;
        width: 200px
      }
    }
  }

  .modal-content {
    padding: 0 25px;
  }

  .modal-footer {
    display: flex;
    justify-content: space-around;
    border-top: 1px solid #dcdde1;
    padding: 10px 20px;

    .btn-footer {
      margin-right: 10px;
      width: 350px;
    }
  }
}