.order-list-container {
  display: flex;
  flex-wrap: wrap;

  .ant-card-bordered {
    margin: 5px
  }

  p {
    margin: 0;
    padding: 0;
  }

  h4 {
    font-weight: normal;
  }

  .text-group {
    font-size: 16px;
    display: flex;

    p {
      margin-left: 5px;
    }
  }

}